body { 
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ 
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

}

#logo-icon {
	position: relative;
	left: 3px;
	top: -3px;

}
         
.navbar-inner {
	height: 55px;
	background-color: white;
	background-image: none; /* overwrites bootstraps background image nav defualt */

}

.navbar .brand {
	color: #ff9331;
	font-size: 32px;
	text-shadow: 0 0px 0 white; /* overwrites bootstrap's default text shadow on brand class */
	padding: 20px 20px 10px;

}

.navbar .nav {
	float: right;

}

.navbar .nav > li > a {
	text-shadow: 0 0px 0 black; /* overwrite for bootsrap default text-shadow */
	color: #ababab;
	font-size: 20px;
	padding: 20px 15px 10px;

}	

.navbar .nav > .active > a {
	color: black;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); /* overwrites bootstraps defualt nav box shadows */
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); /* box shadow overwrite for firefox */
	background-color: transparent;

}

.navbar .nav > .active > a:hover {
	background-color: transparent;
	color: black;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); /* overwrites bootstraps defualt nav box shadows */
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); /* box shadow overwrite for firefox */

}

#main-content {
	position: relative;
	height: 490px;
	margin-top: 15px;	
	background-color: #f7f7f7;

}

#office-bg {
	height: 490px;
	width: 100%;

}

#main-content #content {  
   	
   	position: absolute;
   	top: 145px;	
   	padding: 0px 40px;
   	
   	z-index: 100;

}  

#main-content #content h1 {
	font-size: 50px; 
	color: black;
	text-align: left;

}

#main-content span {
   	color: #ff9331;

}

#learn-more {
	z-index: 100;
	position: absolute;
	top: 175px;
	left: 940px;
	font-size: 30px;
	padding: 18px 18px;
	background-color: #63B8FF;
	color: white;

}

#learn-more:hover {
	color: black;
	cursor: pointer;

}

#contact {
	color: #ff9331;
	padding-right: 0px; 

}

#contact:hover {	
	color: black;

}

hr {
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;

}
      
#left-footer {
	float: left;

}

#right-footer {
	float: right;

}